/* デフォルトのpaddingとmarginを解除するためのおまじない！！ */
*{
  padding: 0;
  margin: 0;
}

canvas{
  background-color: "#eee";
  display: block;
  margin: 0 auto;
  padding: 5px;
}

.heading{
  text-align: center;
  margin: 5px;
}

.text{
  text-align: center;
  font-size: 20px;
  display: block; /* 縦に表示（noneで取り消す） */
  margin: 0 auto; /* このようにしないと勝手にmarginは20ですね～～とかされちゃう */
}

#mode{
  display: none; /* モード表示はクリックした後でいいよね・・ */
}

button{
  height: 50px;
  font-size: 20px;
  background-color: #99CCFF;
  border-radius: 5px;
}

button:hover{
  background-color: #33CCFF;
}

#Startbutton{
  width: 140px;
}
#Shiftbutton{
  width: 70px;
}

#Enterbutton{
  width: 70px;
}

.config{
  text-align: center;
  display: none; /* Enter押したときにshowで表示する */
}

.inputs{
  display: inline-block;
}

.element.style{
  padding-top: 30px;
}

.element{
  height: 30px;
  width: 50px;
  font-size: 20px;
}

#state{
  color: blue; /* 移動しているときは赤で点滅、移動が終わったら黒にし、Enterで再び青に戻す。 */
}

.link{
  text-align: center;
}
