*{
  padding: 0;
  margin: 0;
}

canvas{
  background-color: "#eee";
  display: block;
  margin: 0 auto;
  padding: 5px;
}

.heading{
  text-align: center;
  margin: 5px;
}

.text{
  font-size: 20px;
  margin: 0; /* このようにしないと勝手にmarginは20ですね～～とかされちゃう */
}

button{
  height: 50px;
  font-size: 20px;
  background-color: #99CCFF;
  border-radius: 5px;
}

button:hover{
  background-color: #33CCFF;
}

#Startbutton{
  width: 140px;
}
#Shiftbutton{
  width: 70px;
}

.config{
  text-align: center;
  display: none; /* Enter押したときにshowで表示する */
}

.inputs{
  display: inline-block;
}

.element.style{
  padding-top: 30px;
}

.element{
  height: 30px;
  width: 40px;
  font-size: 20px;
}
